.hero {
    min-height: 100vh;
}

.header-container {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    gap: 10px;
}

.header-container > div {
}

.header-container  h1 {
    font-size: 48px;
    font-weight: 700;
}

.header-container span {
    color: #0682b8;
    font-size: 76px;
}

.header-container button {
    padding: 20px 25px;
    letter-spacing: 2px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #000507;
    border: none;
    color: white;
    cursor: pointer;
}

.header-container  p {
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    word-spacing: 10px;
    margin: 0 0 50px;
}

.hero-content {
    margin: 0 50px 0 100px;
}

.header-container img {
    width: 500px;
    height: 500px;
    margin: 0 50px 0 0;
}